
* {
    box-sizing: border-box;
}
* .space {
  margin-left: 2.5em;
}
.floaf {
     float: left;
}
.floar {
     float: right;
}
.float-fix {
    clear: both;
}
.aukstis-50 {
    height: 50px;
}
.aukstis-85 {
    height: 85px;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-150 {
    height: 150px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.aukstis-700 {
    min-height: 700px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
/*.bg-light {
     background-color: transparent;*/
/*===================== Namu puslapio ===========================*/
/* -------------------- Tekstai ---------------------------------*/
h2 {
  text-align: center;
  color: #07522c;
  text-shadow: 1px 2px #b5adae;
  margin-bottom: 30px;
}

.antraste {
    text-align: center;
    color: #f2f2f2;
    font-size: 60px;
    color: rgb(137, 130, 139);
    text-shadow: 2px 3px white;
    margin-top: 250px;
}

h4 {
  text-align: center;
  color: #07522c;
  text-shadow: 1px 2px #b5adae;
}

p {
    text-align: center;
    color: rgb(40, 217, 11);
    font-size: 18px;
    text-shadow: 1px 2px white;
}

.batasTekstas {
  color: white;
}

.NamuMygtukas {
    text-align: center;
    background: #15b324;
    color: #b5acaa;;
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    padding-top: 14px;
    height: 70px;
    /*width: 25%;*/
}
/* -------------------- Tekstai ---------------------------------*/
 .centruojam {
   /*width: 25%; */
   margin-left: auto;
   margin-right: auto;
}

.box-wraper {
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
}
.perVisaPuslapi {
    overflow: hidden;
    height: 100vh;
    background-image: url('../img/kalnai.jpg');
}
/*----------------Header Jumbotron --------------------*/
.jumbotron {
    background-image: url('../img/kalnai.jpg');
    background-position: center;
}

/*================= Meniu ===========================*/
.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.meniu {
    border-bottom: 2px solid #b5acaa;
}
nav {
    width: 35%;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    color: rgb(137, 130, 139);
}

.logo {
  width: 7%;
  height: auto;
}

.navbar-nav {
  width: 100%;
}
/*============== Baigiam meniu =============================*/
/*-----------------Karuselė --------------------------------*/
.carousel-inner {
  border-left: 4px solid #b5acaa;
  border-right: 4px solid #b5acaa;
  border-bottom: 4px solid #b5acaa;
}
/*-------------------footer----------------------------------*/
footer {
  border-top: 2px solid #b5acaa;
}

footer p {
color: rgba(0,0,0,.5);
margin-top: 20px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}
