.jumbotron {
  background-image: url('../img/kalnai.jpg');
}
.antraste {
  text-align: center;
  color: #f2f2f2;
}
.box-wraper  {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1200px;
