h1{
    text-align: center;
}
article{
    margin: 1%;
    width: 28%;
    border: solid 2px black;
    background-color: grey;
    padding-top: 25px;
    position: relative;
    padding-left: 3px;
}
.float{
    float: left;
}
h3{
    margin: 0;
    text-align: center;
    width: 80px;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.brown{
    background-color: brown;
