// uzduotis:   panaudoti SASS arba SCCS


// UZDUOTIS
// html/PHP faile
// 1. sukurti 'div'
// 1.1 'div' viduje sukurti antraste ir paragrafa (su lorem)

// 2. sukurti 'aside'
// 2.1 'aside' viduje sukurti antraste ir paragrafa  (su lorem)

// 3. SCSS faile:
// 3.1 div antrastes tekstui uzdeti:
//      teksto spalva : raudona
//      teksto dydis: 29px
//      teksto svoris: 600
// 3.2 div paragrafo tekstui uzdeti:
//      teksto dydis: 16px
//      teksto svoris: 100
// 4.1 aside antrastes tekstui uzdeti:
//      teksto spalva : melyna
//      teksto dydis: 29px
//      teksto svoris: 100
// 4.2 aside paragrafo tekstui uzdeti:
//      teksto dydis: 16px
//      teksto svoris: 600

$tekstasMazas: 16px;
$tekstasDidelis: 29px;
$svorisMazas: 100;
$svorisDidelis: 600;
$raudona: red;
$melyna: blue;

div {
    h1 {
    color: $raudona;
        font: {
            size: $tekstasDidelis;
            weight: $svorisDidelis;
        }
    }
    p {
        font: {
            size: $tekstasMazas;
            weight: $svorisMazas;
        }
    }
}
aside {
    h1 {
    color: $melyna;
        font: {
            size: $tekstasDidelis;
            weight: $svorisMazas;
        }
    }
    p {
        font: {
            size: $tekstasMazas;
            weight: $svorisDidelis;            
        }
    }
}
