* {
    box-sizing: border-box;
}
.floaf {
     float: left;
}
.float-fix {
    clear: both;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-400 {
    height: 400px;
}
.aukstis-500 {
    height: 500px;
}
.fonas-rud {
    background-color: brown;
}
.fonas-gelt {
    background-color: yellow;
}
.fonas-oran {
    background-color: orange;
}
/* ------- */
h1 {
    color: red;
    text-align: center;
}
article {
    border: 1px solid #000;
    background-color: #a9a9a9;
    padding-top: 23px;
    padding-left: 8px;
    padding-right: 8px;

    width: 30.6%;
    margin-left: 2%;

    position: relative;
}
body {
    margin: 0;
}
h2 {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    margin: 0;
    width: 100px;
    text-align: center;
    padding: 3px;
    /* elemento perkelimas i konkrecia ekrano pozicija */
    position: absolute;
    top: 0px;
    right: 0;
    /* !!! top, left, ... veikia tik kai elementas Absolute */
    /* !!! proteviui uzdeti position: relative */

}
.mobilaus-kontaktai{
    display: none;
}


/* ==============medias-responsive design========================== */
/* =======for tablet  (iki plancetes)====nuo 0 iki 768px======= */
@media (max-width: 768px) {
    article {
        width: 47%;
    }
    article:last-of-type {
        width: 95.9%;
        margin-top: 2%;
    }
} /* end media */
/* =======for mobile nuo 0 iki 425px=============== */
@media (max-width: 425px ) {
    article {
        width: 95.9%;
    }
    article:nth-of-type(2) {
        margin-top: 2%;
    }
    /* article:first-of-type + article {
            margin-top: 2%;
    } */
    .mobilaus-kontaktai{
        display: block;
    }
}


/*  */
